@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --clr-accent: #16e0bd;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  overflow: overlay;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #13bda0;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*nav bar*/
.navbar {
  background-color: rgb(80, 80, 80);
  height: 60px;
  .flex {
    justify-content: space-between;
  }

  ul {
    display: flex;
  }

  .links a {
    padding: 10px;
    margin: 0 20px;
    color: var(--clr-accent);
  }

  .links a:hover {
    border-bottom: 1px var(--clr-accent) solid;
  }

  .logo a {
    color: white;
  }
}
.dropdown {
  display: none;
  div {
    width: 25px;
    height: 3px;
    background-color: var(--clr-accent);
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
}

/*hero*/
.hero {
  height: 700px;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  z-index: -1;

  h1 {
    font-weight: bold;
    font-size: 6rem;
    color: var(--clr-accent);
    padding: 10px;
  }
  h2 {
    padding: 10px;
    font-size: 2rem;
    color: var(--clr-accent);
  }
  .flex {
    padding-top: 200px;
  }
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  height: 410px;
  bottom: -300px;
  right: 0;
  left: 0;
  background: rgb(80, 80, 80);
  border-top: 5px var(--clr-accent) solid;
  border-bottom: 5px black solid;
  transform: skewY(-7deg);
}

.button {
  text-align: center;
  height: 100px;
  padding: 40px;

  .next {
    width: 50px;
    bottom: 0;
  }
  .next:hover {
    fill: var(--clr-accent);
    transform: scale(1.1);
  }
}
.button:hover {
  cursor: pointer;
}

/*skills*/
.skills {
  margin-top: 80px;
  height: 1000px;
  position: relative;
  background-color: #b3b3b3;
  z-index: 2;
  border-top: 5px solid black;

  .skills-text {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 3rem;
    }
  }

  .container {
    padding: 80px 0px;
    p {
      font-size: 1.5rem;
      color: var(--clr-accent);
      text-align: center;
      background-color: white;
      border-radius: 20px;
    }
  }
  .flex {
    flex-wrap: wrap;
    .element {
      flex-grow: 1;
      flex-basis: 200px;
      margin: 80px 40px 0px 40px;
    }
  }
}

.transition {
  position: relative;
  background-color: #b3b3b3;
  width: 80%;
  height: 180px;
  z-index: -3;
}

.skills::before,
.skills::after {
  content: "";
  position: absolute;
  height: 180px;
  bottom: -250px;
  right: 0;
  left: 0;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  border-top: 4px var(--clr-accent) solid;
  border-bottom: 4px var(--clr-accent) solid;
  transform: skewY(-7deg);
}

.projects {
  height: 1300px;
  position: relative;
  background-color: rgb(51, 51, 51);
  z-index: 1;

  .projects-text {
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
    color: var(--clr-accent);
    h1 {
      font-weight: bold;
      font-size: 3rem;
    }
  }

  .container {
    margin-top: 260px;
    padding: 0 50px;
    .card {
      line-height: 2em;
      margin: 0;
      border-radius: 20px;
      h1 {
        margin-top: 0;
        color: var(--clr-accent);
        font-size: 30px;
      }
      p {
        margin-bottom: 0;
        font-size: 17px;
      }
      a {
        color: white;
      }
      .btn-secondary {
        margin-top: 30px;
        float: right;
      }
    }
    .side-picture img {
      grid-column: 1;
      grid-row: 1 / -1;
      align-self: center;
      width: 100%;
      border-radius: 20px;
      max-height: 230px;
    }
  }
  .grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    z-index: 1;
  }
  .grid-2 {
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: auto;
    padding: 0 50px;
  }
  .grid-3 {
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: auto;
    padding: 0 50px;
  }
}

.footer {
  height: 600px;
  position: relative;
  background-color: rgb(51, 51, 51);
  color: var(--clr-accent);

  .container {
    background-color: #111;
    height: 100%;
    max-width: 94%;
    border-radius: 40px;

    .footer-top-text {
      text-align: center;
      font-size: 2rem;
      padding: 45px 0 10px 0;
      color: white;
    }

    .flex {
      flex-direction: column;
      justify-content: stretch;
    }

    .form-control {
      margin: 10px;
      padding: 10px;
      width: 37%;
    }
    input[type="text"],
    input[type="email"] {
      border: 0;
      border-bottom: 1px solid var(--clr-accent);
      width: 100%;
      font-size: 20px;
      background-color: #111;
      color: rgb(163, 163, 163);
    }

    input:focus {
      outline: none;
    }
    ::placeholder {
      color: rgb(163, 163, 163);
    }
    .resume {
      text-align: center;
      width: 100%;
      margin-top: 65px;
    }
    .social-links {
      height: 70px;
      margin-top: 20px;
      border-top: 1px solid var(--clr-accent);
      width: 100%;
      border-radius: 0;
      .social-list {
        justify-content: center;
        color: var(--clr-accent);
        .social-list-item {
          .social-list-link {
            margin: 20px;
            color: var(--clr-accent);
            i {
              font-size: 40px;
            }
          }
          .social-list-link:hover {
            opacity: 0.7;
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        padding: 10px 0px 0px 0px;
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .transition {
    width: 85%;
  }
}

@media screen and (max-width: 1450px) {
  .transition {
    width: 90%;
  }
}

@media screen and (max-width: 1250px) {
  .transition {
    width: 95%;
  }
  .skills {
    height: 900px;
  }
  .footer .container .form-control {
    width: 75%;
  }
}

@media screen and (max-width: 1150px) {
  .skills .container {
    padding: 150px 0px;
  }
  .skills .container .element {
    flex-grow: 0;
    flex-basis: 200px;
    margin: 0px 30px 0px 30px;
  }

  .transition {
    width: 100%;
  }
  .projects {
    height: 1600px;
  }
}

@media screen and (max-width: 1050px) {
  .hero h1 {
    font-size: 4.5rem;
  }
  .hero h2 {
    font-size: 1.8rem;
  }
  .skills {
    height: 1000px;
    .container {
      padding: 120px;
    }
  }
  .skills .container {
    padding-left: 90px;
    padding-right: 90px;
    .element {
      flex-grow: 0;
      flex-basis: 160px;
      margin: 20px 30px 0px 30px;
    }
  }
}

@media screen and (max-width: 850px) {
  .skills .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 750px) {
  /*nav bar*/
  .navbar {
    position: relative;
    z-index: 1;

    .container {
      padding: 0;
      justify-content: space-around;
      height: 100%;
      .logo {
        display: flex;
      }
      .logo a {
        font-size: 22px;
      }
      .dropdown {
        display: block;
        cursor: pointer;
      }
    }
  }
  .links {
    align-items: center;
    position: absolute;
    height: 50vh;
    width: 100%;
    top: 4.5vh;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-200%);
    transition: transform 0.5s ease-in;
    font-size: 19px;
    z-index: -1;
  }
  li {
    cursor: pointer;
  }

  /*hero*/
  .hero .container {
    padding: 200px 10px 0px 10px;
    h1 {
      font-size: 2.6rem;
    }
  }
  .hero h2 {
    font-size: 1.2rem;
  }

  .button {
    opacity: 0;
  }

  /*skills*/
  .skills {
    height: 1100px;
    .skills-text {
      top: 30px;
    }
  }

  .skills .container {
    padding: 120px 0px;

    .element {
      flex-basis: 140px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  /*projects*/
  .transition {
    width: 100%;
  }
  .projects {
    height: 2150px;
    .container {
      padding: 20px;
      .card {
        h1 {
          text-align: center;
        }
      }
    }
    .grid {
      grid-template-columns: 1fr;
      padding-bottom: 10px;
      margin-top: 200px;
    }
    .grid-3 {
      grid-template-columns: 1fr;
      padding-bottom: 10px;
      margin-top: 15px;
    }
    .grid-2 {
      grid-template-columns: 1fr;
      padding-bottom: 10px;
      margin-top: 15px;
      .card {
        order: 1;
      }
      .side-picture {
        order: 2;
      }
    }
  }

  /*footer*/
  .footer .container .form-control {
    width: 85%;
  }
  .footer .container .social-links .social-list {
    li {
      opacity: 1;
    }
  }
}

/*utilties*/
.container {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid,
.grid-2,
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 8em;
  column-gap: 6em;
  justify-content: center;
}

.bar {
  position: absolute;
  width: 100%;
  margin: auto;
  z-index: -1;

  hr {
    width: 75%;
    margin: auto;
    border-radius: 5px;
    border: 4px solid white;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  color: black;
}

.side-picture {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.btn-primary {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  background-color: white;
  color: gray;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.btn-primary:hover {
  background-color: var(--clr-accent);
  transform: scale(0.96);
  color: white;
}

.btn-secondary {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--clr-accent);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}
.btn-secondary:hover {
  transform: scale(0.96);
}

.active {
  transform: translateY(0%);
}

.dropdown.active .line:nth-child(2) {
  opacity: 0;
}
.dropdown.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.dropdown.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

span {
  opacity: 0;
  transition: all 1s ease;
}
span.fade {
  opacity: 1;
}
